#header {
    background-color: aqua;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}
#content-one{
    background-color: rgb(155, 175, 175);
    border-radius: 10px;
    padding: 5px;
    max-width: 70vw;
}
#aside-menu{
    float: right;
    scroll-margin-right: 15vw;
}
header {
    padding: 2vw;
    border: solid;
}

header nav {
    float: right;
}

header nav a {
    background: gray;
    margin: 0 5px;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

aside {
    margin: 1vw;
    float: right;
    width: 25vw;
    border: solid;
}

section {
    margin: 10px;
}

article{
    width: 60vw;
}

figure img {
    margin: auto;
    width: 50%;
}

footer {
    display: flex;
}

footer ul {
    width: 30vw;
}

#right-writer {
    text-align: right;
}

